# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
next-env.d.ts
tsconfig.tsbuildinfo

# Production
build/
dist/

# Misc
.DS_Store
*.pem
.vercel
.env
.env.local
.env*.local
.turbo

# IDE
.vscode/
.idea/
