{"openapi":"3.1.0","info":{"title":"Machineseeker - Listing Management API","contact":{"url":"https:\/\/www.machineseeker.com","email":"info@machineseeker.com"},"description":"API endpoints and models that are needed to create, update, pause, activate, extend and delete listings.\n\n## Getting started\n\n1. **Generate an API token** in your user account under \"Useful Functions\" > \"Data Import\" > \"Real-time API\" and send it as a `Bearer` token in the `Authorization` header (see Authentication below).\n2. **Look up the reference data** you need for a listing: the category tree (`GET \/json\/category\/tree`), the available product types (`GET \/json\/product\/types`) and their properties (`GET \/json\/product\/properties`).\n3. **Upload images and documents first.** Files have to be uploaded via `POST \/json\/listing-asset\/image` and `POST \/json\/listing-asset\/document` *before* they can be attached to a listing. Each upload returns a temporary file name.\n4. **Create or update the listing** via `POST` \/ `PUT \/json\/listing` and reference the temporary file names from step 3 in the `images` and `docs` fields.\n5. **Manage the listing** afterwards: pause, activate, extend or delete it via the corresponding endpoints.\n\n## Versioning\n\nStarting with this release the version follows a date-based scheme (`YY.M.PATCH`, e.g. `26.7.0` = July 2026). The previous scheme was semantic (last version was `2.0.1`). The jump in the version number does **not** indicate breaking changes.","version":"26.7.0"},"servers":[{"url":"https:\/\/api.machineseeker.com"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Category","description":"Get information about categories"},{"name":"Product","description":"Get information about product specification in listings"},{"name":"Listing","description":"Manipulate listings"},{"name":"Listing-Asset","description":"Manipulate listing media (images and documents)"}],"paths":{"\/json\/product\/types":{"get":{"summary":"Get product types","description":"Get the available product types. Pass the \"name\" of the product type to \"productType\" in the create request. Categories and product types have an n:m relationship: a single product type can belong to several categories and a category can offer several product types. Use the optional categoryId parameter to restrict the result to the product types available in a specific category.","operationId":"jsonListingGetTypes","parameters":[{"name":"categoryId","in":"query","required":false,"description":"Optionally restrict the result to the product types available in this category (categories and product types are related n:m).","schema":{"type":"integer"}},{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"responses":{"200":{"description":"List of available types. Pass the \"name\" to \"productType\" in the edit-push request.","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/product-type"}},"example":[{"name":"3-wheel forklift","translation":"3-wheel forklift","categories":[543]},{"name":"agricultural machine","translation":"agricultural machine","categories":[271]},{"name":"air conditioner","translation":"air conditioner","categories":[388]},{"name":"ambulance","translation":"ambulance","categories":[512]},{"name":"truck","translation":"truck","categories":[2,43]}]}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}}},"tags":["Product"]}},"\/json\/product\/properties":{"get":{"summary":"Get product properties","description":"Add a property to the listing by passing the \"name\" and the desired value to \"property\" in the create request.","operationId":"jsonListingGetProperties","parameters":[{"name":"productType","in":"query","required":false,"description":"Optionally filter properties by product type","schema":{"type":"string"}},{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"responses":{"200":{"description":"List of available properties","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/product-property"}},"example":[{"name":"condition","unit":null,"datatype":"string","translation":"condition","required":false,"values":[{"value":"new","translation":"new"},{"value":"ex-display machine","translation":"ex-display machine"},{"value":"refurbished","translation":"refurbished"},{"value":"reconditioned","translation":"reconditioned"},{"value":"as new","translation":"as new"},{"value":"very good","translation":"very good"},{"value":"good","translation":"good"},{"value":"ready for use","translation":"ready for use"},{"value":"not inspected","translation":"not inspected"},{"value":"in need of repair","translation":"in need of repair"},{"value":"defective","translation":"defective"},{"value":"used","translation":"used"}]},{"name":"first registration","unit":null,"datatype":"date_ym (MM\/y)","translation":"first registration","required":false},{"name":"mileage","unit":"km","datatype":"int","translation":"mileage","required":false},{"name":"power","unit":"kW","datatype":"float","translation":"power","required":false},{"name":"retarder","unit":null,"datatype":"bool","translation":"retarder","required":false},{"name":"tire size","unit":null,"datatype":"string","translation":"tire size","required":false}]}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}},"404":{"description":"Product type not found.\n\nReturned if a product type has been passed as a query parameter, but the corresponding product type could not be found.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/not-found"}}}}},"tags":["Product"]}},"\/json\/category\/tree":{"get":{"summary":"Get category tree","description":"Get all categories with mapping to legacy category IDs. The legacy IDs are only relevant for the legacy Machineseeker CSV import; for this API you only need the (current) category ID.","security":[],"operationId":"jsonCategoryTree","parameters":[{"$ref":"#\/components\/parameters\/language-header"}],"responses":{"200":{"description":"An associative array of categories indexed by their category ID","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category-tree"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}}},"tags":["Category"]}},"\/json\/listing-asset\/document":{"post":{"summary":"Upload document","description":"Upload documents to the server before saving a listing.","operationId":"jsonListingAssetDocument","parameters":[{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/document-push"}}}},"responses":{"200":{"description":"Use created temp name of field 'file' to add corresponding file to the listing","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/document-push-response"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}}},"tags":["Listing-Asset"]}},"\/json\/listing-asset\/image":{"post":{"summary":"Upload image","description":"Upload images to the server before saving a listing.","operationId":"jsonListingAssetImage","parameters":[{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/image-push"}}}},"responses":{"200":{"description":"Use created temp name of field 'image' to add corresponding image to the listing","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/image-push-response"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}}},"tags":["Listing-Asset"]}},"\/json\/listing":{"post":{"summary":"Create listing","description":"Create a new listing.","operationId":"jsonListingCreate","parameters":[{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/listing"}}}},"responses":{"200":{"description":"Result of the creation. Success indicates if the listing was created; on validation errors, success is false and errors contains the details.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-push-response"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}},"403":{"description":"To protect our systems, there is a limit per account for deleting and re-creating listings. Please note that listing-changes do not require deletion and re-creation of the listing. The limit should not be noticeable during normal operations. Please contact our support team if you encounter this error during the changeover to the API.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/forbidden"}}}}},"tags":["Listing"]},"get":{"summary":"Get a listing","description":"Get data for an existing listing or, without an ID, get the data structure for creating a new listing. Temporary images are generated when calling the API. Please note that only listings which were created via the API are obtainable.","operationId":"jsonListingGet","parameters":[{"name":"id","in":"query","required":false,"description":"Machineseeker\/TruckScout24-ID of listing","schema":{"type":"integer"}},{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"responses":{"200":{"description":"If no ID is set you get the base structure, otherwise you get the data of the listing","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-get-response"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}},"404":{"description":"Listing not found or not accessible via API","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/not-found"}}}}},"tags":["Listing"]},"put":{"summary":"Update a listing","description":"Update an existing listing. The listing ID must be provided in the request body. Please note that only listings which were created via the API can be updated.","operationId":"jsonListingUpdate","parameters":[{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/listing"}}}},"responses":{"200":{"description":"Result of the update. Success indicates if the listing was updated; on validation errors, success is false and errors contains the details.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-push-response"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}}},"tags":["Listing"]},"delete":{"summary":"Delete a listing","description":"Delete a listing permanently.","operationId":"jsonListingDelete","parameters":[{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-control-request"}}}},"responses":{"200":{"description":"Success indicates if deletion was successful","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-control-response"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}}},"tags":["Listing"]}},"\/json\/listing\/extend":{"post":{"summary":"Extend the listing expiry date","description":"Extend the runtime of a listing. The new expiry date is calculated by adding the given number of months from today on.","operationId":"jsonListingExtend","parameters":[{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-extend-request"}}}},"responses":{"200":{"description":"Success indicates if extending was successful","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-control-response"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}}},"tags":["Listing"]}},"\/json\/listing\/pause":{"post":{"summary":"Pause a listing","description":"Pause an active listing. The listing will not be publicly visible until it is activated again.","operationId":"jsonListingPause","parameters":[{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-control-request"}}}},"responses":{"200":{"description":"Success indicates if pausing was successful","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-control-response"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}}},"tags":["Listing"]}},"\/json\/listing\/activate":{"post":{"summary":"Activate a listing","description":"Activate a paused listing. Newly created listings are active by default.","operationId":"jsonListingActivate","parameters":[{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-control-request"}}}},"responses":{"200":{"description":"Success indicates if activation was successful","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-control-response"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}}},"tags":["Listing"]}},"\/json\/listing\/all":{"get":{"summary":"Get all listings","description":"Get all listings of this user.","operationId":"jsonListingGetAll","parameters":[{"name":"page","in":"query","required":false,"description":"100 listings per page are delivered","schema":{"type":"integer"}},{"$ref":"#\/components\/parameters\/auth-header"},{"$ref":"#\/components\/parameters\/content-header"},{"$ref":"#\/components\/parameters\/language-header"}],"responses":{"200":{"description":"Paginated list of listings together with page information","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/json-listing-get-all-response"}}}},"401":{"description":"Access token is missing or invalid","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/unauthorized"}}}}},"tags":["Listing"]}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"The token can be generated in the user account under \"Useful Functions\" > \"Data Import\" > \"Real-time API\": https:\/\/www.machineseeker.com\/import\/auto\/api-token or https:\/\/www.truckscout24.com\/import\/auto\/api-token"}},"parameters":{"auth-header":{"in":"header","name":"Authorization","description":"Authorize API requests with this header field. The token can be generated in the user account under \"Useful Functions\" > \"Data Import\" > \"Real-time API\": https:\/\/www.machineseeker.com\/import\/auto\/api-token or https:\/\/www.truckscout24.com\/import\/auto\/api-token","schema":{"type":"string","format":"Bearer {TOKEN}"}},"content-header":{"in":"header","name":"Content-Type","description":"Request content is always provided in JSON syntax.","schema":{"type":"string","format":"application\/json"}},"language-header":{"in":"header","name":"Accept-Language","description":"The Accept-Language header should be in the format LL-CC, where LL is a two-letter lowercase language code according to ISO-639-1 and CC is a two-letter lowercase country code according to ISO-3166-1 alpha-2. E.g. \"en-us\", \"en-gb\" or \"de-de\". If Accept-Language is not set, then \"en-us\" is used by default. If Accept-Language is set but the country code CC in <LL-CC> is not valid, then a default country for language LL is chosen. If the language code is not valid, then \"en-us\" is used by default. If the country does not matter, it is also possible to just pass the language, e.g. \"es\". A default country is chosen in this case.","schema":{"type":"string","format":"LL-CC","default":"en-us","example":"de-de"}}},"schemas":{"product-type":{"type":"object","required":["name","translation","categories"],"properties":{"name":{"type":"string","description":"Pass this value to \"productType\" in the create\/update request","example":"truck"},"translation":{"type":"string","description":"A translation of the product type name in the requested language","example":"truck"},"categories":{"type":"array","items":{"type":"integer"},"description":"The category IDs for which this product type is available","example":[2,43]}}},"unauthorized":{"type":"object","properties":{"name":{"type":"string"},"message":{"type":"string"},"code":{"type":"integer"},"status":{"type":"integer"},"type":{"type":"string"}},"example":{"name":"Unauthorized","message":"Your request was made with invalid credentials.","code":0,"status":401}},"product-property":{"type":"object","required":["name","unit","datatype","translation"],"properties":{"name":{"type":"string","description":"Pass this value as a key of \"properties\" in the create\/update request","example":"mileage"},"unit":{"type":["string","null"],"example":"km"},"datatype":{"type":"string","description":"One of \"int\", \"float\", \"string\", \"bool\", \"date_y (y)\" or \"date_ym (MM\/y)\"","example":"int"},"translation":{"type":"string","description":"A translation of the property name in the requested language","example":"mileage"},"required":{"type":"boolean","description":"Indicates whether this property is required for the given product type. Only returned if the productType query parameter is set."},"values":{"type":"array","description":"A list of all allowed values for this property or not set, if the set of allowed values is only limited by the datatype","items":{"type":"object","required":["value"],"properties":{"value":{"type":"string","description":"The actual possible value","example":"three-phase"},"translation":{"type":"string","description":"A translation of the actual value in the requested language","example":"dreiphasig"}}}}}},"not-found":{"type":"object","properties":{"name":{"type":"string"},"message":{"type":"string"},"code":{"type":"integer"},"status":{"type":"integer","enum":[404]},"type":{"type":"string"}},"example":{"name":"Not Found","message":"Product type not found","code":0,"status":404,"type":"yii\\web\\NotFoundHttpException"}},"category-tree-element":{"type":"object","title":"Category","properties":{"id":{"type":"string","description":"Category ID (numeric string)","example":"2"},"name":{"type":"string","example":"Metal processing machinery"},"old_main_category_id":{"type":["string","null"],"description":"ID based on the old category system used before 2022","example":"1"},"old_sub_category_id":{"type":["string","null"],"description":"ID based on the old category system used before 2022"},"old_sub_sub_category_id":{"type":["string","null"],"description":"ID based on the old category system used before 2022"},"brands":{"type":"array","items":{"type":"string"},"example":["MS","WT","GM","TS"],"description":"The brand array indicates on which brands listings in this category may be displayed. Please make sure to only use categories that are allowed for the brand of your account. MS: Maschinensucher and Machineseeker, TS: TruckScout24, WT: Werktuigen, GM: Gebrauchtmaschinen and Used-Machines."},"types":{"type":"array","items":{"type":"string"},"example":["truck","van"],"description":"The product types that are available for this category. Pass one of these values to \"productType\" in the create\/update listing request."},"children":{"type":"object","description":"Child category tree elements indexed by category ID","additionalProperties":{"x-additionalPropertiesName":"category ID","$ref":"#\/components\/schemas\/category-tree-element"},"example":{"43":{"id":"43","name":"Lathes","old_main_category_id":"1","old_sub_category_id":"1","old_sub_sub_category_id":null}}}}},"category-tree":{"type":"object","description":"An associative array of categories indexed by their category ID","additionalProperties":{"x-additionalPropertiesName":"category ID","$ref":"#\/components\/schemas\/category-tree-element"},"example":{"2":{"id":"2","name":"Metal processing machinery","old_main_category_id":"1","old_sub_category_id":null,"old_sub_sub_category_id":null,"brands":["MS","WT","GM","TS"],"types":["truck","van"],"children":{"43":{"id":"43","name":"Lathes","old_main_category_id":"1","old_sub_category_id":"1","old_sub_sub_category_id":null,"children":{"1026":{"id":"1026","name":"CNC lathes  up to 199mm turning diameter","old_main_category_id":"1","old_sub_category_id":"1","old_sub_sub_category_id":"583"}}}}}}},"document-push":{"type":"object","properties":{"name":{"type":"string","example":"technical_data.pdf","description":"File name of the document. Allowed file extension is .pdf only."},"data":{"type":"string","description":"The document as a base64 encoded string. Max file size 10 MB.","example":"JVBERi0xLjcKJcTl..."}},"required":["name","data"]},"document-push-response":{"type":"object","description":"Use created temp name of field \"file\" to add the corresponding document to the listing.","properties":{"success":{"description":"Indicates whether the upload was successful.","type":"boolean"},"file":{"description":"Temporary name of the uploaded document. Pass this name in the \"docs\" field when creating\/updating a listing.","type":"string","example":"tmp-1627456142-20595.pdf"},"url":{"description":"Preview URL of the uploaded document.","type":"string","example":"https:\/\/cdn.machineseeker.com\/upload\/listing\/doc\/78586\/tmp-1627456142-20595.pdf"},"errors":{"description":"List of errors that occurred during the upload.","type":"array","example":[],"items":{"type":"string"}}}},"image-push":{"type":"object","properties":{"name":{"type":"string","example":"machine001.png","description":"File name of the image. Allowed file extensions are .jpg, .png and .bmp. Images are converted to .jpg after the upload."},"data":{"type":"string","description":"The image as a base64 encoded string without starting file information like data:image\/jpeg;base64. Max file size 10 MB.","example":"\/9j\/4AAQSkZJRgABAQAAA..."}},"required":["name","data"]},"image-push-response":{"type":"object","description":"Use created temp name of field \"image\" to add the corresponding image to the listing.","properties":{"success":{"description":"Indicates whether the upload was successful.","type":"boolean"},"image":{"description":"Temporary name of the uploaded image. Pass this name in the \"images\" field when creating\/updating a listing.","type":"string","example":"tmp-1627456205-44589.jpg"},"url":{"description":"Preview URL of the uploaded image.","type":"string","example":"https:\/\/cdn.machineseeker.com\/upload\/listing\/img\/78586\/tmp-1627456205-44589-preview.jpg"},"errors":{"description":"List of errors that occurred during the upload.","type":"array","example":[],"items":{"type":"string"}}}},"listing-response":{"type":"object","description":"JSON object that represents the fields of the listing itself","properties":{"id":{"type":"integer","description":"The listing ID provided by the platform.","example":5954193},"listingType":{"type":"string","description":"The type of the listing.","default":"standard","enum":["standard","buynow","auction_clickout","auction"]},"inseratType":{"deprecated":true,"description":"This field is deprecated and will be removed in a future API version. Please refer to listingType.","type":"string"},"categoryId":{"type":"integer","description":"Most detailed category ID. The category IDs can be retrieved with the get category tree endpoint.","example":1659},"category1Id":{"type":"integer","description":"Level 1 category ID.","example":8},"category2Id":{"type":"integer","description":"Level 2 category ID.","example":773},"category3Id":{"type":"integer","description":"Level 3 category ID.","example":1659},"categoryLeafId":{"type":"integer","description":"This field is deprecated and will be removed in a future API version. Please refer to categoryId.","deprecated":true},"title":{"description":"Machine\/vehicle type (listing title) indexed by language. Between 1 and 100 characters per entry. Allowed languages: de, en, fr, es, it, nl, pl, ru, be, uk, et, tr, cs, da, fi, sv, nb, el, lt, lv, is, pt, hu, sk, ro, sl, sr, sq, hr, bg, mk, bs, he, ar, hi, id, ko, ja, th, ms, vi, zh, fa, bn, ps","type":"object","minProperties":1,"additionalProperties":{"x-additionalPropertiesName":"language","type":"string","minLength":1,"maxLength":100},"example":{"de":"Palettengabel","en":"Pallet fork"}},"machineType":{"description":"This field is deprecated and will be removed in a future API version. Please refer to title.","deprecated":true,"type":"object"},"manufacturer":{"type":"string","description":"Manufacturer\/brand of the machine or vehicle.","maxLength":50,"example":"Stoll"},"model":{"type":"string","description":"Model designation of the machine or vehicle.","example":"PG 1200","maxLength":50},"productType":{"type":"string","example":"pallet fork","description":"The productType is used to determine the suggested properties and their order."},"productTypeId":{"type":"integer","description":"The ID of the productType.","example":3505},"properties":{"description":"Properties of the listing like \"mileage\", \"power\", \"fuel\" etc. The list of allowed properties and values can be retrieved with the get product properties endpoint. Some of the available properties are:","type":"object","additionalProperties":{"x-additionalPropertiesName":"property name"},"properties":{"condition":{"type":"string","enum":["new","ex-display machine","refurbished","reconditioned","as new","very good","good","ready for use","not inspected","in need of repair","defective","used"],"description":"Condition of the machine\/vehicle. Deprecated enum values: [ \"neu\", \"ausstellung\", \"general\u00fcberholt\", \"werkstatt\u00fcberholt\", \"wie neu\", \"sehr gut\", \"gut\", \"einsatzbereit\", \"ungepr\u00fcft\", \"reparaturbed\u00fcrftig\", \"defekt, Ersatzteiltr\u00e4ger\", \"gebraucht\" ]"},"construction year":{"description":"Construction year of the machine","type":"integer","example":2001},"operating hours":{"description":"Operating hours of the machine","type":"integer","example":17586},"machine\/vehicle number":{"description":"Machine\/Vehicle number","type":"string","example":"HY 123456","maxLength":50},"functionality":{"description":"The functionality of the machine\/vehicle. Whether it is required depends on the product type (see the \"required\" flag from the get product properties endpoint).","type":"string","enum":["fully functional","partially functional","not functional","unknown"]}},"example":{"condition":"used","construction year":2021}},"description":{"description":"Machine\/vehicle description indexed by language. Between 10 and 3500 characters per entry. Uses <code>\\n<\/code> as newline character. Allowed languages: de, en, fr, es, it, nl, pl, ru, be, uk, et, tr, cs, da, fi, sv, nb, el, lt, lv, is, pt, hu, sk, ro, sl, sr, sq, hr, bg, mk, bs, he, ar, hi, id, ko, ja, th, ms, vi, zh, fa, bn, ps","type":"object","minProperties":1,"additionalProperties":{"x-additionalPropertiesName":"language","type":"string","minLength":10,"maxLength":3500},"example":{"de":"Verwendungszweck: Landwirtschaft\nMotor in gutem Zustand.","en":"Field of application: Agriculture\nEngine in good condition."}},"html":{"type":"object","readOnly":true,"description":"System-generated read-only field, cannot be set via API."},"price":{"type":"integer","example":200,"description":"Net amount of the price, no cents allowed."},"priceCurrency":{"type":"string","enum":["EUR","USD"],"description":"Currency of the price. Set if price is set."},"priceIncoterms":{"type":"string","enum":["CFR","CIF","CIP","CPT","DAF","DAP","DEQ","DES","DDP","DDU","DPU","EXW","FAS","FCA","FOB"],"description":"Incoterms specifier for the publicly visible price. Only set for classifieds listings (listingType 'standard'); for auction listings see auctionIncoterms."},"priceNegotiable":{"type":"boolean","description":"Whether the price is negotiable.","default":false},"priceVATNotIncluded":{"description":"If value is true, price is tagged with 'VAT not applicable', if false it is tagged with 'plus VAT'.","type":"boolean","default":false},"priceVat":{"description":"Value-added tax rate as a fraction between 0 and 1 (e.g. 0.19 for 19%).","type":"number","example":0.19},"tradePrice":{"type":"integer","example":150,"description":"Net amount of the price that is only visible for dealers, no cents allowed."},"tradePriceCurrency":{"type":"string","enum":["EUR","USD"],"description":"Currency of the trade price. Set if tradePrice is set."},"tradePriceIncoterms":{"type":"string","enum":["CFR","CIF","CIP","CPT","DAF","DAP","DEQ","DES","DDP","DDU","DPU","EXW","FAS","FCA","FOB"],"description":"Incoterms specifier for the trader price. Only set for classifieds listings (listingType 'standard'); for auction listings see auctionIncoterms."},"tradePriceNegotiable":{"type":"boolean","description":"Whether the trade price is negotiable.","default":false},"tradePriceVATNotIncluded":{"description":"If value is true, price is tagged with 'VAT not applicable', if false it is tagged with 'plus VAT'.","type":"boolean","default":false},"internalId":{"type":"string","example":"929899796","minLength":3,"maxLength":50,"description":"The Internal ID refers to the seller's own reference number for a listing as opposed to an ID assigned by the platform. Internal IDs are visible for buyers."},"internalNote":{"description":"Internal notes are not visible for buyers but only for the seller himself. These notes are displayed in the listing management.","type":"string","minLength":3,"maxLength":512},"images":{"description":"Temporary names of saved images which can be used for listing editing.","type":"array","items":{"type":"string"},"example":["tmp-1626966361-68989.jpg","tmp-1626966361-68990.jpg"]},"videos":{"description":"At the moment a maximum of one element is provided. Only YouTube videos. Format is 'https:\/\/www.youtube.com\/watch?v=MwwLWKs_QJI'.","type":"array","maxItems":1,"example":["https:\/\/www.youtube.com\/watch?v=MwwLWKs_QJI"],"items":{"type":"string","description":"YouTube video URL","example":"https:\/\/www.youtube.com\/watch?v=MwwLWKs_QJI"}},"youtubeVideoId":{"type":"string","description":"This field is deprecated and will be removed in a future API version. Please refer to videos.","deprecated":true},"hideYoutubePreview":{"description":"If value is true, YouTube videos are not included in the search result list, if false they are.","type":"boolean","default":false},"docs":{"description":"Temporary names of saved documents which can be used for listing editing.","type":"array","items":{"type":"string"},"example":["tmp-1627985102-74369.pdf"]},"forRent":{"description":"Whether the machine\/vehicle is offered for rent.","type":"boolean","default":false},"isLeasing":{"description":"Whether leasing is offered for this listing.","type":"boolean","default":false},"isFinancing":{"description":"Whether financing is offered for this listing.","type":"boolean","default":false},"durationInMonths":{"description":"Listing runtime: The listing will be published for the duration of the chosen runtime. If a listing is updated the current runtime will be overwritten, hence extended or reduced.","type":"integer","default":12,"minimum":1,"maximum":12},"expirationDate":{"description":"A UNIX timestamp describing the listing expiry date.","type":["integer","null"],"readOnly":true},"location":{"type":"string","description":"The location of the machine\/vehicle.","example":"Kronprinzenstr. 9, 45128 Essen, DE","maxLength":255},"latitude":{"type":"number","description":"Latitude of the machine\/vehicle location.","readOnly":true},"longitude":{"type":"number","description":"Longitude of the machine\/vehicle location.","readOnly":true},"countryIso2":{"type":"string","description":"Country of the machine\/vehicle location as ISO-3166-1 alpha-2 code.","example":"DE"},"city":{"type":"string","description":"City of the machine\/vehicle location.","example":"Essen"},"federalState":{"type":"string","description":"Federal state of the machine\/vehicle location.","example":"Nordrhein-Westfalen"},"hiddenPrice":{"description":"The price specified here will not be displayed publicly and only be included in the automated offer. See autoOfferActive.","type":"integer","example":150},"hiddenPriceCurrency":{"type":"string","enum":["EUR","USD"],"description":"Currency of the hidden price. Set if hiddenPrice is set."},"hiddenPriceIncoterms":{"type":"string","enum":["CFR","CIF","CIP","CPT","DAF","DAP","DEQ","DES","DDP","DDU","DPU","EXW","FAS","FCA","FOB"],"description":"Incoterms specifier for the hidden price. Only set for classifieds listings (listingType 'standard'); for auction listings see auctionIncoterms."},"hiddenPriceNegotiable":{"type":"boolean","description":"Whether the hidden price is negotiable.","default":false},"hiddenPriceVATNotIncluded":{"description":"If value is true, price is tagged with 'VAT not applicable', if false it is tagged with 'plus VAT'.","type":"boolean","default":false},"autoOfferActive":{"description":"Interested parties will automatically receive an e-mail with all important information about the machine\/vehicle in PDF format.","type":"boolean","default":false},"clickOutAuctionStart":{"type":"string","format":"Y-m-d H:i:s","example":"2026-08-25 16:00:00","description":"Starting date of clickout auction listings."},"clickOutAuctionEnd":{"type":"string","format":"Y-m-d H:i:s","example":"2026-09-03 11:00:00","description":"End date of clickout auction listings."},"clickOutAuctionUrl":{"type":"string","description":"URL to the external auction of clickout auction listings."},"amount":{"description":"The number of entities that are available for buynow (irrelevant for other listing types).","type":"integer","minimum":1},"installationAndCommissioning":{"description":"Whether installation and commissioning is offered (buynow and auction listings).","type":"boolean"},"instructionMachineFunctions":{"description":"Whether instruction on the machine functions is offered (buynow and auction listings).","type":"boolean"},"auctionIncoterms":{"description":"Incoterms specifier for auction listings.","type":"string","enum":["FCA","EXW"]},"loadingCostsAvailable":{"description":"Whether loading is offered for this listing.","type":"boolean"},"loadingCosts":{"description":"Loading costs; set if loadingCostsAvailable === true.","type":"integer"},"shippingLocalAvailable":{"description":"Whether domestic shipping is offered.","type":"boolean"},"shippingWorldAvailable":{"description":"Whether international shipping is offered.","type":"boolean"},"shippingPickup":{"description":"Whether pickup by the buyer is possible.","type":"boolean"},"shippingLocal":{"description":"Local shipping price; set if shippingLocalAvailable === true.","type":"integer"},"shippingZoneCountries":{"description":"Array of shipping zones, containing an array of country-ISOs (ISO-3166). Only relevant for buynow and auction listings; set if shippingWorldAvailable === true.","type":"array","example":[["NL","PL"],["FI","FR"]],"items":{"type":"array","items":{"type":"string","example":"DE"}}},"shippingZonePrices":{"description":"Array of numbers, index of price matches the index of shipping zones in shippingZoneCountries. Only relevant for buynow and auction listings; set if shippingWorldAvailable === true.","type":"array","example":[10.5,20],"items":{"type":"number","example":10.9}},"availabilityOptions":{"description":"The availability options available for buynow and auction listings.","default":"instant","type":"string","enum":["date","instant"]},"availability":{"description":"Date when the machine\/vehicle becomes available. Set when availabilityOptions === 'date'.","type":"string","format":"Y-m-d","example":"2026-09-12"},"visitOption":{"description":"Indicates if inspection under working conditions is possible or not.","type":"string","enum":["possible","not possible","not applicable"]},"plannedDisassemblyDate":{"type":"string","example":"2026-09-12","format":"Y-m-d","description":"Planned date of machine disassembly."},"priceStart":{"type":"integer","example":200,"description":"Net amount of the start price, no cents allowed (auction listings)."},"priceMin":{"type":"integer","example":300,"description":"Net minimum price that must be reached at an auction, no cents allowed (auction listings)."},"timeBegin":{"type":"string","example":"2026-08-25 16:00","format":"Y-m-d H:i","description":"Start time of the auction (auction listings)."},"timeEnd":{"type":"string","example":"2026-09-03 11:00","format":"Y-m-d H:i","description":"End time of the auction (auction listings)."},"bidSteps":{"type":"integer","example":2000,"description":"Next valid bid step is the sum of the current bid price and the given bidding steps, no cents allowed (auction listings)."},"updatedAt":{"type":"string","example":"2026-01-01 12:03:35","format":"Y-m-d H:i:s","readOnly":true,"description":"Time of the last content update of this listing."}}},"json-listing-get-response":{"type":"object","properties":{"ad":{"type":"object","deprecated":true,"description":"This field is deprecated and will be removed in a future API version. Please refer to listing."},"listing":{"$ref":"#\/components\/schemas\/listing-response"},"status":{"description":"The current status flags of this listing.","type":"array","items":{"type":"string","enum":["ACTIVE","PAUSED","BLOCKED","EXPIRED","INACTIVE","PENDING_UPDATE","UNDER_REVIEW"],"description":"<code>PENDING_UPDATE<\/code>: The listing has been updated and is under review. Until it is approved, the previous version will be displayed publicly. This process can take up to 24 hours.<br><code>UNDER_REVIEW<\/code>: The listing is currently under review. This process can take up to 24 hours."}},"listingUrl":{"description":"The frontend-URL for the listing indexed by brand. The domain depends on the customer's main brand and the given language header.","type":"object","additionalProperties":{"x-additionalPropertiesName":"brand","type":"string"},"example":{"MS":"https:\/\/www.machineseeker.com\/pallet-fork\/i-5954193"}},"imageUrls":{"description":"Array of image-URLs included on the web site that belong to the listing","type":"array","example":["https:\/\/cdn.machineseeker.com\/upload\/listing\/img\/08\/tmp-88608-0-66571ab99dd4e-preview.jpg","https:\/\/cdn.machineseeker.com\/upload\/listing\/img\/08\/tmp-88608-1-66571ab99dd4f-preview.jpg"],"items":{"type":"string"}},"docUrls":{"description":"Array of document-URLs included on the web site that belong to the listing","type":"array","example":["https:\/\/cdn.machineseeker.com\/upload\/listing\/doc\/08\/tmp-88608-0-66571ab9b4a3a.pdf"],"items":{"type":"string"}},"availableConditions":{"description":"Conditions values (keys) that can be set when creating\/editing listings and the explanation\/meaning (values) depending of the given language header.","type":"object","additionalProperties":{"x-additionalPropertiesName":"condition value","type":"string"},"example":{"new":"new","ex-display machine":"as good as new (ex-display)","refurbished":"refurbished (used)","reconditioned":"reconditioned (used)","as new":"like new (used)","very good":"excellent (used)","good":"good (used)","ready for use":"ready for operation (used)","not inspected":"not inspected (used)","in need of repair":"repair required (used)","defective":"defective spare-parts repository (used)","used":"used"}},"availableCurrencies":{"description":"Currencies that can be set when creating\/editing listings.","type":"object","additionalProperties":{"x-additionalPropertiesName":"currency code","type":"string"},"example":{"EUR":"EUR","USD":"USD"}},"customerNumber":{"type":"integer","example":11111},"imageHashes":{"description":"Hash values for each listing image. Image position numbers are mapped to a hash value.","example":{"1":"265f056b706a544fed6a877f775fbda0","2":"e1415a6975857c2215b4f197e032abfe"},"type":"object","additionalProperties":{"x-additionalPropertiesName":"image position","type":"string"}}}},"listing":{"type":"object","description":"JSON object that represents the fields of the listing itself","properties":{"id":{"type":"integer","description":"If set, the listing with this ID is updated. If unset, a new listing is created.","example":5954193},"listingType":{"type":"string","description":"The type of the listing. Types other than 'standard' require a corresponding activation for your account. Please contact our support team for details.","default":"standard","enum":["standard","buynow","auction_clickout","auction"]},"categoryId":{"type":"integer","description":"ID of the category, always the most detailed ID is required e.g. (woodworking machinery [3] \/ saws [149] \/ belt saws [936] => 936 needs to be set). The category IDs can be retrieved with the get category tree endpoint.","example":1659},"title":{"description":"Machine\/vehicle type (listing title) indexed by language. At least one language is required. Between 1 and 100 characters per entry. Allowed languages: de, en, fr, es, it, nl, pl, ru, be, uk, et, tr, cs, da, fi, sv, nb, el, lt, lv, is, pt, hu, sk, ro, sl, sr, sq, hr, bg, mk, bs, he, ar, hi, id, ko, ja, th, ms, vi, zh, fa, bn, ps","type":"object","minProperties":1,"additionalProperties":{"x-additionalPropertiesName":"language","type":"string","minLength":1,"maxLength":100},"example":{"de":"Palettengabel","en":"Pallet fork"}},"manufacturer":{"type":"string","description":"Manufacturer\/brand of the machine or vehicle.","maxLength":50,"example":"Stoll"},"model":{"type":"string","description":"Model designation of the machine or vehicle.","example":"PG 1200","maxLength":50},"productType":{"type":"string","example":"pallet fork","description":"The productType is used to determine the suggested properties and their order. The list of allowed values can be retrieved with the get product types endpoint."},"properties":{"description":"Properties of the listing like \"mileage\", \"power\", \"fuel\" etc. The list of allowed properties and values can be retrieved with the get product properties endpoint. Some of the available properties are:","type":"object","additionalProperties":{"x-additionalPropertiesName":"property name"},"properties":{"condition":{"type":"string","enum":["new","ex-display machine","refurbished","reconditioned","as new","very good","good","ready for use","not inspected","in need of repair","defective","used"],"description":"Condition of the machine\/vehicle. Deprecated enum values: [ \"neu\", \"ausstellung\", \"general\u00fcberholt\", \"werkstatt\u00fcberholt\", \"wie neu\", \"sehr gut\", \"gut\", \"einsatzbereit\", \"ungepr\u00fcft\", \"reparaturbed\u00fcrftig\", \"defekt, Ersatzteiltr\u00e4ger\", \"gebraucht\" ]"},"construction year":{"description":"Construction year of the machine","type":"integer","example":2001},"operating hours":{"description":"Operating hours of the machine","type":"integer","example":17586},"machine\/vehicle number":{"description":"Machine\/Vehicle number","type":"string","example":"HY 123456","maxLength":50},"functionality":{"description":"The functionality of the machine\/vehicle. Whether it is required depends on the product type (see the \"required\" flag from the get product properties endpoint).","type":"string","enum":["fully functional","partially functional","not functional","unknown"]}},"example":{"condition":"used","construction year":2021}},"description":{"description":"Machine\/vehicle description indexed by language. At least one language is required. Between 10 and 3500 characters per entry. Use <code>\\n<\/code> as newline character. Allowed languages: de, en, fr, es, it, nl, pl, ru, be, uk, et, tr, cs, da, fi, sv, nb, el, lt, lv, is, pt, hu, sk, ro, sl, sr, sq, hr, bg, mk, bs, he, ar, hi, id, ko, ja, th, ms, vi, zh, fa, bn, ps.","type":"object","minProperties":1,"additionalProperties":{"x-additionalPropertiesName":"language","type":"string","minLength":10,"maxLength":3500},"example":{"de":"Verwendungszweck: Landwirtschaft\nMotor in gutem Zustand.","en":"Field of application: Agriculture\nEngine in good condition."}},"price":{"type":"integer","minimum":0,"maximum":2147483647,"example":200,"description":"Net amount of the price, no cents allowed. Required if listingType === 'buynow'."},"priceCurrency":{"type":"string","enum":["EUR","USD"],"description":"Currency of the price. Required if price is set. Defaults to 'EUR' if omitted."},"priceIncoterms":{"type":"string","enum":["CFR","CIF","CIP","CPT","DAF","DAP","DEQ","DES","DDP","DDU","DPU","EXW","FAS","FCA","FOB"],"description":"Incoterms specifier for the publicly visible price. Only allowed for classifieds listings (listingType 'standard'); for auction listings use auctionIncoterms."},"priceNegotiable":{"type":"boolean","description":"Whether the price is negotiable. Required if price is set.","default":false},"priceVATNotIncluded":{"description":"If value is true, price is tagged with 'VAT not applicable', if false it is tagged with 'plus VAT'. Required if price is set.","type":"boolean","default":false},"priceVat":{"description":"Value-added tax rate as a fraction between 0 and 1 (e.g. 0.19 for 19%). Only evaluated if price is set.","type":"number","minimum":0,"maximum":1,"example":0.19},"tradePrice":{"type":"integer","minimum":0,"maximum":2147483647,"example":150,"description":"Net amount of the price that is only visible for dealers, no cents allowed."},"tradePriceCurrency":{"type":"string","enum":["EUR","USD"],"description":"Currency of the trade price. Required if tradePrice is set. Defaults to 'EUR' if omitted."},"tradePriceIncoterms":{"type":"string","enum":["CFR","CIF","CIP","CPT","DAF","DAP","DEQ","DES","DDP","DDU","DPU","EXW","FAS","FCA","FOB"],"description":"Incoterms specifier for the trader price. Only allowed for classifieds listings (listingType 'standard'); for auction listings use auctionIncoterms."},"tradePriceNegotiable":{"type":"boolean","description":"Whether the trade price is negotiable. Required if tradePrice is set.","default":false},"tradePriceVATNotIncluded":{"description":"If value is true, price is tagged with 'VAT not applicable', if false it is tagged with 'plus VAT'. Required if tradePrice is set.","type":"boolean","default":false},"internalId":{"type":"string","example":"929899796","minLength":3,"maxLength":50,"description":"The Internal ID refers to the seller's own reference number for a listing as opposed to an ID assigned by the platform. Internal IDs are visible for buyers and must be unique per listing within your account."},"internalNote":{"description":"Internal notes are not visible for buyers but only for the seller himself. These notes are displayed in the listing management.","type":"string","minLength":3,"maxLength":512},"images":{"description":"Set names given from \/json\/listing-asset\/image, so images need to be pushed first before creating this listing. A maximum of 50 images is allowed per listing.","type":"array","maxItems":50,"example":["tmp-1626966361-68989.jpg","tmp-1626966361-68990.jpg"],"items":{"type":"string"}},"videos":{"description":"At the moment a maximum of one element is allowed. Only YouTube videos allowed. Format needs to be 'MwwLWKs_QJI' (video ID) or 'https:\/\/www.youtube.com\/watch?v=MwwLWKs_QJI'","type":"array","example":["MwwLWKs_QJI"],"maxItems":1,"items":{"type":"string","description":"YouTube-ID","example":"MwwLWKs_QJI"}},"hideYoutubePreview":{"description":"If value is true, YouTube videos are not included in the search result list, if false they are.","type":"boolean","default":false},"docs":{"description":"Set names given from \/json\/listing-asset\/document, so documents need to be pushed first before creating this listing. A maximum of 7 documents is allowed per listing.","type":"array","maxItems":7,"example":["tmp-1627985102-74369.pdf"],"items":{"type":"string"}},"forRent":{"description":"Whether the machine\/vehicle is offered for rent.","type":"boolean","default":false},"isLeasing":{"description":"Whether leasing is offered for this listing.","type":"boolean","default":false},"isFinancing":{"description":"Whether financing is offered for this listing.","type":"boolean","default":false},"durationInMonths":{"description":"Listing runtime: The listing will be published for the duration of the chosen runtime. If a listing is updated the current runtime will be overwritten, hence extended or reduced.","type":"integer","default":12,"minimum":1,"maximum":12},"location":{"type":"string","description":"The location of the machine\/vehicle. If omitted, the company address of your account is used.","example":"Kronprinzenstr. 9, 45128 Essen, DE","minLength":3,"maxLength":255},"countryIso2":{"type":"string","description":"Country of the machine\/vehicle location as ISO-3166-1 alpha-2 code.","minLength":2,"maxLength":2,"example":"DE"},"city":{"type":"string","description":"City of the machine\/vehicle location.","example":"Essen"},"hiddenPrice":{"description":"The price specified here will not be displayed publicly and only be included in the automated offer. See autoOfferActive.","type":"integer","minimum":0,"maximum":2147483647,"example":150},"hiddenPriceCurrency":{"type":"string","enum":["EUR","USD"],"description":"Currency of the hidden price. Required if hiddenPrice is set. Defaults to 'EUR' if omitted."},"hiddenPriceIncoterms":{"type":"string","enum":["CFR","CIF","CIP","CPT","DAF","DAP","DEQ","DES","DDP","DDU","DPU","EXW","FAS","FCA","FOB"],"description":"Incoterms specifier for the hidden price. Only allowed for classifieds listings (listingType 'standard'); for auction listings use auctionIncoterms."},"hiddenPriceNegotiable":{"type":"boolean","description":"Whether the hidden price is negotiable. Required if hiddenPrice is set.","default":false},"hiddenPriceVATNotIncluded":{"description":"If value is true, price is tagged with 'VAT not applicable', if false it is tagged with 'plus VAT'. Required if hiddenPrice is set.","type":"boolean","default":false},"autoOfferActive":{"description":"Interested parties will automatically receive an e-mail with all important information about the machine\/vehicle in PDF format.","type":"boolean","default":false},"clickOutAuctionStart":{"type":"string","format":"Y-m-d H:i","example":"2026-08-25 16:00","description":"Starting date of the clickout auction. Required if listingType === 'auction_clickout' and clickOutAuctionEnd is set. If one of start or end is set, the other needs to be set as well."},"clickOutAuctionEnd":{"type":"string","format":"Y-m-d H:i","example":"2026-09-03 11:00","description":"End date of the clickout auction. Must be after clickOutAuctionStart. Required if listingType === 'auction_clickout' and clickOutAuctionStart is set. If one of start or end is set, the other needs to be set as well."},"clickOutAuctionUrl":{"type":"string","description":"URL to the external auction. Required if listingType === 'auction_clickout'."},"amount":{"description":"The number of entities that are available for buynow. Required if listingType === 'buynow' (irrelevant for other listing types).","type":"integer","minimum":1},"loadingCosts":{"description":"Loading costs; required if loadingCostsAvailable === true.","type":"integer","minimum":0},"loadingCostsAvailable":{"description":"Whether loading is offered for this listing.","type":"boolean"},"shippingLocalAvailable":{"description":"Whether domestic shipping is offered. Required for buynow and auction listings; at least one of shipping (local\/world) or pickup needs to be true.","type":"boolean"},"shippingWorldAvailable":{"description":"Whether international shipping is offered. Required for buynow and auction listings; at least one of shipping (local\/world) or pickup needs to be true.","type":"boolean"},"shippingPickup":{"description":"Whether pickup by the buyer is possible. Required for buynow and auction listings; at least one of shipping (local\/world) or pickup needs to be true.","type":"boolean"},"shippingLocal":{"description":"Local shipping price; required if shippingLocalAvailable === true.","type":"integer","minimum":0},"shippingZoneCountries":{"description":"Array of shipping zones, containing an array of country-ISOs (ISO-3166). Only relevant for buynow and auction listings; set if shippingWorldAvailable === true.","type":"array","example":[["NL","PL"],["FI","FR"]],"items":{"type":"array","items":{"type":"string","example":"DE"}}},"shippingZonePrices":{"description":"Array of numbers, index of price needs to match the index of shipping zones in shippingZoneCountries. Only relevant for buynow and auction listings; set if shippingWorldAvailable === true.","type":"array","example":[10.5,20],"items":{"type":"number","example":10.9}},"installationAndCommissioning":{"description":"Whether installation and commissioning is offered. Required for buynow and auction listings.","type":"boolean","default":false},"instructionMachineFunctions":{"description":"Whether instruction on the machine functions is offered. Required for buynow and auction listings.","type":"boolean","default":false},"auctionIncoterms":{"description":"Incoterms specifier for auction listings. Required if listingType === 'auction'.","type":"string","enum":["FCA","EXW"]},"availabilityOptions":{"description":"The availability options available for buynow and auction listings.","default":"instant","type":"string","enum":["date","instant"]},"availability":{"description":"Date when the machine\/vehicle becomes available. Required when availabilityOptions === 'date'.","type":"string","format":"Y-m-d","example":"2026-09-12"},"visitOption":{"description":"Indicates if inspection under working conditions is possible or not. Required for buynow and auction listings.","type":"string","enum":["possible","not possible","not applicable"]},"plannedDisassemblyDate":{"type":"string","example":"2026-09-12","format":"Y-m-d","description":"Planned date of machine disassembly."},"priceStart":{"type":"integer","minimum":0,"maximum":2147483647,"example":200,"description":"Net amount of the start price, no cents allowed. Required if listingType === 'auction'."},"priceMin":{"type":"integer","minimum":0,"maximum":2147483647,"example":300,"description":"Net minimum price that must be reached at an auction, no cents allowed. Must be greater than priceStart. Used if listingType === 'auction'."},"timeBegin":{"type":"string","example":"2026-08-25 16:00","format":"Y-m-d H:i","description":"Start time of the auction. Required if listingType === 'auction'."},"timeEnd":{"type":"string","example":"2026-09-03 11:00","format":"Y-m-d H:i","description":"End time of the auction. Must be after timeBegin. Required if listingType === 'auction'."},"bidSteps":{"type":"integer","minimum":0,"maximum":2147483647,"example":2000,"description":"Next valid bid step is the sum of the current bid price and the given bidding steps, no cents allowed. Used if listingType === 'auction'."}},"required":["categoryId","title","description"]},"json-listing-push-response":{"type":"object","properties":{"success":{"description":"Indicates whether the creation\/update was successful.","type":"boolean"},"errors":{"description":"Validation errors indexed by the field name. Each entry contains a list of error messages.","type":"object","additionalProperties":{"x-additionalPropertiesName":"field name","type":"array","items":{"type":"string"}},"example":{"title":["Machine type cannot be blank."]}},"warnings":{"description":"Non-blocking warnings indexed by the field name, e.g. deprecation notices for legacy field names or values. Each entry contains a list of warning messages.","type":"object","additionalProperties":{"x-additionalPropertiesName":"field name","type":"array","items":{"type":"string"}},"example":{"properties":["'payload' is deprecated and will be removed. Please use 'load capacity' instead."]}},"ad":{"type":"object","deprecated":true,"description":"This field is deprecated and will be removed in a future API version. Please refer to listing."},"listing":{"$ref":"#\/components\/schemas\/listing-response"},"customerNumber":{"type":"integer","example":11111},"imageHashes":{"description":"Hash values for each listing image. Image position numbers are mapped to a hash value.","example":{"1":"265f056b706a544fed6a877f775fbda0","2":"e1415a6975857c2215b4f197e032abfe"},"type":"object","additionalProperties":{"x-additionalPropertiesName":"image position","type":"string"}}}},"forbidden":{"type":"object","properties":{"name":{"type":"string"},"message":{"type":"string"},"code":{"type":"integer"},"status":{"type":"integer"},"type":{"type":"string"}},"example":{"name":"Forbidden","message":"Listing creation rate exceeded.","code":0,"status":403,"type":"yii\\web\\ForbiddenHttpException"}},"json-listing-control-request":{"type":"object","properties":{"id":{"type":"integer","description":"Machineseeker\/TruckScout24 ID of the listing.","example":5954193}},"required":["id"]},"json-listing-control-response":{"type":"object","properties":{"success":{"description":"Indicates whether the operation was successful.","type":"boolean"},"errors":{"description":"Errors indexed by the field name. Each entry contains a list of error messages.","type":"object","additionalProperties":{"x-additionalPropertiesName":"field name","type":"array","items":{"type":"string"}},"example":[]}}},"json-listing-extend-request":{"type":"object","properties":{"id":{"type":"integer","description":"Machineseeker\/TruckScout24 ID of the listing.","example":5954193},"extendMonths":{"type":"integer","minimum":1,"maximum":12,"example":12,"description":"Number of months to add from today on."}},"required":["id","extendMonths"]},"json-listing-get-all-response":{"type":"object","properties":{"pageNumber":{"type":"integer","description":"The current page number.","example":2},"totalPageNumber":{"type":"integer","description":"The total number of pages.","example":124},"adCount":{"type":"integer","description":"This field is deprecated and will be removed in a future API version. Please refer to listingCount.","deprecated":true},"listingCount":{"type":"integer","description":"The number of listings on the current page.","example":100},"totalAdCount":{"type":"integer","description":"This field is deprecated and will be removed in a future API version. Please refer to totalListingCount.","deprecated":true},"totalListingCount":{"type":"integer","description":"The total number of listings of this account.","example":12388},"ads":{"type":"object","description":"This field is deprecated and will be removed in a future API version. Please refer to listings.","deprecated":true},"listings":{"type":"object","description":"Listing elements indexed by listing ID.","additionalProperties":{"x-additionalPropertiesName":"listing ID","type":"object","properties":{"listing":{"$ref":"#\/components\/schemas\/listing-response"},"status":{"description":"The current status flags of this listing.","type":"array","items":{"type":"string","enum":["ACTIVE","PAUSED","BLOCKED","EXPIRED","INACTIVE","PENDING_UPDATE","UNDER_REVIEW"],"description":"<code>PENDING_UPDATE<\/code>: The listing has been updated and is under review. Until it is approved, the previous version will be displayed publicly. This process can take up to 24 hours.<br><code>UNDER_REVIEW<\/code>: The listing is currently under review. This process can take up to 24 hours."}},"listingUrl":{"description":"The frontend-URL for the listing indexed by brand. The domain depends on the customer's main brand and the given language header.","type":"object","additionalProperties":{"x-additionalPropertiesName":"brand","type":"string"},"example":{"MS":"https:\/\/www.machineseeker.com\/pallet-fork\/i-5954193"}},"imageHashes":{"description":"Hash values for each listing image. Image position numbers are mapped to a hash value.","example":{"1":"265f056b706a544fed6a877f775fbda0","2":"e1415a6975857c2215b4f197e032abfe"},"type":"object","additionalProperties":{"x-additionalPropertiesName":"image position","type":"string"}}}},"example":{"5954193":{"listing":{"id":5954193,"listingType":"standard","categoryId":1659,"category1Id":8,"category2Id":773,"category3Id":1659,"title":{"de":"Palettengabel","en":"Pallet fork"},"manufacturer":"Stoll","model":"PG 1200","productType":"pallet fork","properties":{"condition":"used","construction year":2021},"description":{"de":"Verwendungszweck: Landwirtschaft\nMotor in gutem Zustand.","en":"Field of application: Agriculture\nEngine in good condition."},"price":200,"priceCurrency":"EUR","priceNegotiable":false,"durationInMonths":12,"location":"Kronprinzenstr. 9, 45128 Essen, DE","countryIso2":"DE","city":"Essen","images":["tmp-1626966361-68989.jpg","tmp-1626966361-68990.jpg"],"updatedAt":"2026-01-01 12:03:35"},"status":["ACTIVE"],"listingUrl":{"MS":"https:\/\/www.machineseeker.com\/pallet-fork\/i-5954193"},"imageHashes":{"1":"265f056b706a544fed6a877f775fbda0","2":"e1415a6975857c2215b4f197e032abfe"}}}}}}}}}